body {
    background-color: #373F4C;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
    color: #2b739c;
}

.text-default {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
}

.searchBox {
    border-radius: 14px;
    margin: 10px;
    border-color: #005b8f;
}

.button {
    border-radius: 14px;
}